@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start-logo {
  width: 50vw;
}

.logo {
  width: 250px;
  height: fit-content;
}

.card {
  padding: 2em;
}

.futurama-img {
  max-width: 2000px;
  width: 95vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: #1a1928e3;
}

.avatar-container {
  display: flex;
  gap: 10px;
}

.avatar {
  width: 75px;
  height: 75px;
  border: 3px solid #f7d059;
  border-radius: 50%;
}

.faded {
  transition: all 300ms ease;
  opacity: 20%;
  transform: scale(0.8);
  animation: growAndShrink 500ms ease-in-out;
}

@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    rotate: 10deg;
  }
  100% {
    transform: scale(0.9);
    rotate: -10deg;
  }
}

.start-btn {
  padding: 0.75rem 5rem;
  border: 3px solid transparent;
  color: #fff;
  background-color: #f0211f;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 800;
  transition: all 300ms ease;
}

.start-btn:hover {
  cursor: pointer;
  color: white;
  border: 3px solid #e0b950;
}

.start-container {
  border: 1px solid rgba(255, 255, 255, 0.224);
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.033);
  padding: 5vh 5vw;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #1a1928f1;
  border: 1px solid #888888b1;
  width: 200px;
}

.char-modal {
  padding: 0 0.25rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.char-modal:hover {
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: hsla(244, 23%, 19%, 1);
}

.timer {
  text-align: end;
  font-family: "Oxanium", monospace;
  font-size: 3rem;
  color: #f0211f;
  text-shadow: 1px 1px 0 #e0b950, -1px 1px 0 #e0b950, -1px -1px 0 #e0b950,
    1px -1px 0 #e0b950;
}

.popup-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup-content {
  font-family: "Oxanium", monospace;
  font-size: 1.4rem;
  position: absolute;
  right: 30px;
  top: 200px;
  padding: 1rem;
  background-color: #d41d1ae0;
  color: #fefefe;
  font-weight: 500;
  border: 1px solid #fefefe;
  border-radius: 0.1rem;
  opacity: 0;
  transform: translateX(100%);
  animation: slide-fade-in 2000ms ease-out forwards;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  20% {
    opacity: 1;
    transform: translateX(-2%);
  }

  25% {
    opacity: 1;
    transform: translateX(0%);
  }

  80% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateX(0%); /* Start in final position */
  }

  to {
    opacity: 0;
    transform: translateX(100%); /* Move off-screen */
  }
}
